body {
    background-color: lightgray;
    margin: 0;
    min-height: 100vh;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.container {
    background-color: darkgray;
    width: 350px;
    padding: 25px;
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: red;
    color: white;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    cursor: pointer;
}

.form {
    padding: 10;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

button:hover {
    background-color: green;
    color: black;
}

.title {
    margin: 0;
    text-align: center;
}

.password-display {
    background-color: white;
    color: black;
    padding: 10px;
    border: 1px solid black;
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: 5px;
}